[Unit]
Description=MoveFiles

[Service]
User=root
WorkingDirectory=/
ExecStart=/bin/bash -c 'while true; do mv -fv /home/folder1/* /home/folder2/ 2>/dev/null; sleep 3; done'
Restart=always

[Install]
WantedBy=multi-user.target